.about{
  background: rgb(42 42 42);
 color: white;
 min-height: calc(100vh -  125px);
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
 width: 70vw;

 line-height :calc(1rem + 0.4vw);
 
 a{
    color: aqua;
}

}
.about-container{
  background: rgb(42 42 42);
   p{
     font-size: calc(0.6rem + 0.3vw);
   }
}