.about{
  background:  #242021;
 color: white;
 min-height: calc(100vh -  125px);
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
 width: 80vw;

 line-height :calc(1rem + 0.4vw);
 
 a{
    color: aqua;
}

}
.about-container{
  background:  #242021;
   p{
     font-size: calc(0.6rem + 0.3vw);
   }
}