@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.Footer{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    background: #1b1d1e;
    align-items: center;
    color:white;
    
}
div{
    font-size: calc(0.4rem + 0.5vw);
    
}
span{
    font-family: 'Inconsolata', monospace;
    color:#6f7378;
}
@media screen and (max-width: 390px) {
   .credit{
    display: none;
   }
  }