.links{
    display: flex;
    position: fixed;
    flex-direction: column;
    top:40vh;
    a{
        display: flex;
        align-items: center;
        color:white;
        width: 110px;
        justify-content: space-between;
        text-decoration: none;
        padding: 0.5rem 0.4rem;
        transform: translateX(-78px);
        transition: all 0.3s ease-out;
    }
    .linkedin{
        background: #0570b0;
        font-size: 1rem;
        font-weight: 800;
        cursor: pointer;
    }
    .linkedin:hover{
        transform: translateX(0px);
        background: #0570b0;
        color:white;
    }
    .github{
        background: #3e3b3e;
        font-size: 1rem;
        font-weight: 800;
    }
    .github:hover{
        transform: translateX(0px);
        background:  #3e3b3e;
        color:white;
    }
    .email{
        background: #69ada5;
        font-size: 1rem;
        font-weight: 800;
        cursor: pointer;
    }
    .email:hover{
        transform: translateX(0px);
        background: #69ada5;
        color:white;
    }
    .resume{
        background: #59616a;
        font-size: 1rem;
        font-weight: 800;
    }
    .resume:hover{
        transform: translateX(0px);
        background: #59616a;
        color:white;
    }
}