.links{
    display: flex;
    position: fixed;
    flex-direction: column;
    top:40vh;
    z-index: 100;
    a{
        display: flex;
        align-items: center;
        color:white;
        width: 105px;
        justify-content: space-between;
        text-decoration: none;
        padding: 0.6rem 0.1rem;
        transform: translateX(-80px);
        transition: all 0.3s ease-out;
        &:hover{
            z-index: 9999;
        }
    }
    .linkedin{
        background: #0570b0;
         font-size: 1rem;
         text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
        
    }
    .linkedin:hover{
        
        transform: translateX(0px);
        background: #0570b0;
        color:white;
    }
    .github{
        background: #3e3b3e;
          font-size: 1rem;
         text-transform: uppercase;
        font-weight: 800;
    }
    .github:hover{
        transform: translateX(0px);
        background:  #3e3b3e;
        color:white;
    }
    .email{
        background: #69ada5;
          font-size: 1rem;
         text-transform: uppercase;
        font-weight: 800;
        cursor: pointer;
    }
    .email:hover{
        transform: translateX(0px);
        background: #69ada5;
        color:white;
    }
    .resume{
        background: #59616a;
        text-transform: uppercase;
         font-size: 1rem;
        font-weight: 800;
    }
    .resume:hover{
        
        transform: translateX(0px);
        background: #59616a;
        color:white;
    }
}