@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.main{
    
    min-height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2d3134;
    color:white;
   
    h2{
        font-size: calc(1rem + 3vw);
    }
    h3{
        text-transform: uppercase;
        font-size: calc(0.3rem + 1.25vw);
    }
    button{
        margin-top:100px ;
        background: #2d3134;
        color: white;
        border: white 1px solid;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    button:hover{
        color:#2d3134;
        background: white;
    }
}