*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.navbar{
    background: #2d3134 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:75px;
    img{
        margin-top:3vh;
        margin-left: 3vh;
        width:calc(50px + 5vw);
        background-image: none;
    }
    .hum{
        margin-right: 5vh;
    }
    .hum{
        cursor: pointer;
        display: flex;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 5px;
        margin-right:30px ;
        border: none;
        transition: all .5s ease;
        &::before{
            content:' ';
            width: 30px;
            position:absolute;
            height: 3px;
            background: white;
            transform: translateY(10px);
            border-radius: 5px;
            transition: all .3s ease;
            // transform: rotate(-45deg);
        }
        &::after{
            content:' ';
            width: 30px;
            position:absolute;
            height: 3px;
            border-radius: 5px;
            background: white;
            transform: translateY(-10px);
            transition: all .3s ease;
            // transform: rotate(45deg);
        }
        
    }
    .links-hum{
        transition: all .3s ease;
      transform: translateX(45vw);
       background: #1b1d1e;
       border-radius: 3px;
       position: absolute;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       width: 40vw;
       max-width: 300px;
       height: 85vh;
       flex-direction: column;
       top: 8vh;
       right:3px;
       button{
        cursor: pointer;
        background:#1b1d1e ;
        color:#6f7378;
        border: none;
        transition: all .3s ease;
       }
       button:hover{
        color:white;
        letter-spacing: 1px;
       }
    }
}
.cursor-menu{
    cursor: pointer;
    padding: 10px 5px;
}