*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.nav-container{
    background:  rgb(42 42 42) ;
    justify-content: center;
}
.navbar{
    background:  rgb(42 42 42) ;
    display: flex;
    align-items: space-between;
    margin: 0 auto;
    width: 80vw;
    height:75px;
    img{
        
        
        width:calc(65px + 3vw);
        
    }
    .hum{
        
        margin-bottom: 35px;
    }
    .hum{
        cursor: pointer;
        display: flex;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 5px;
        
        border: none;
        transition: all .5s ease;
        &::before{
            content:' ';
            width: 30px;
            position:absolute;
            height: 3px;
            background: white;
            transform: translateY(10px);
            border-radius: 5px;
            transition: all .3s ease;
            
        }
        &::after{
            content:' ';
            width: 30px;
            position:absolute;
            height: 3px;
            border-radius: 5px;
            background: white;
            transform: translateY(-10px);
            transition: all .3s ease;
       
        }
        
    }
    .links-hum{
        z-index: 100;
        transition: all .4s ease-in-out;
      transform: translateX(45vw);
       background:  rgb(29, 29, 29);
       position: fixed;
       display: flex;
       gap:25px;
       align-items: center;
       width: 40vw;
       max-width: 300px;
       height: 99vh;
       flex-direction: column;
       top: 0.5vh;
       right:3px;
       button{
        cursor: pointer;
        background: rgb(29, 29, 29);
        color:#6f7378;
        border: none;
        font-size: calc(01rem + 0.3vw);
    
        transition: all .3s ease;
       }
       .x-button{
        margin-bottom: 4vh;
        display: flex;
    
        margin-top: 5vh;
        color:white
       }
       button:hover{
        color:white;
        letter-spacing: 1px;
       }
    }
}
.cursor-menu{
    cursor:pointer;
    padding-top: 24px;
    
}