.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  background:  #242021;
 
  // width: 80vh;
  color: white;
  min-height: calc(100vh - 135px);
  span {
    color: #6f7378;
    width: 80vw;
  }
  .button-container{
    display: flex;
    justify-content: start;
    width: 80vw;
  }
  .button {
    font-size: calc(0.5rem + 0.6vw);
    background: #2d3134;
    color: white;
    border: white 1px solid;
    padding: 0.5rem 0.7rem;
    position: relative;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover {
    box-shadow: #2d3134 1px 1px 3px;
    
      color: rgb(42 42 42);
      background: white;
  
  }
  .tech{
 color: aqua;
 font-size: larger;
  }
  h2 {
    text-transform: uppercase;
  }
  .project {
    position: relative;
    width: 80vw;
    gap: 10px;
    margin-top: 15px;
    display: flex;
    align-items: start;
    flex-direction: row;
  }
  .carousel {
   
    background: #b3b3b3;
    
    width: 55vw;
    height: calc(55vw / 2);
    max-height: calc((500px + 10vw)/ 2);
    max-width: calc((500px + 10vw));
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .projects-container {
    margin-bottom: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    margin: 10px;
  }
  .carousel .slide{
    width: 100%;
   
  }
  .project img {
    
    overflow: hidden;
    background: #b3b3b3;
    width: 55vw;
    height: calc(55vw / 2);
    max-height: calc((500px + 10vw)/ 2);
    max-width: calc((500px + 10vw));
  }
  .about-project {
    font-size: 15px;
    
    font-weight: bolder;
    color: #9da4af;
  }
  .about-the-project {
   
    display: flex;
    flex-direction: column;
    // justify-content:center;
  }
  .carousel-control-prev{
    z-index: 999;
  }
.first-side{
  // z-index: 999;
  box-shadow: 0 0 4px #646464;
}
  .first-side:hover {
    
    .show-projects {
      top: 10px;
      transform: translateY(0px);
    }
  }
  .show-projects {
    position: absolute;
    top: 10px;
    transform: translateY(-50px);

    width: calc(100px + 10vw);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    transition: all 0.2s ease;

    padding: 5px;
    button {
      font-weight: 1000;
      width: calc(100px + 10vw);
      display: flex;
      font-size: calc(1vw + 5px);
      align-items: center;
      justify-content: center;
      padding: 2px;
      border-radius: 2px;
      margin: 2px;
      transition: all 0.2s ease;
    }
    button:hover {
      box-shadow: #2d3134 1px 1px 3px;
    }
  }
  .tools {
    display: flex;
    gap:  5px;
    height: min-content;
    
    flex-wrap: wrap;
    p {
      padding: 5px;
      font-size: 10px;
      border-radius: 7%;
      background: #2d3134;
      color: #9da4af;
      border: 1px solid black;
    }
  }
  .h3 h3{
    font-weight: bolder;
    transform: scale(1,0.91);
    
  }
  .h3{
    display: flex;
    // align-items: center;
  }
  .hr-bar{
  
    // margin: 10px 0;
    width: 80vw;

    height:15px;
    border-radius: 15px;
   
  }
  .project {
   
   .description{
     width: 95%;
      font-size: 0.9rem;
      line-height :calc(1.2rem + 0.4vw);
      letter-spacing: 0.5px;
    
    }
  }
  .source-live {
    display: flex;
    
    color: rgb(255, 255, 255);

      margin-left: 15px;
      gap: 9px;
     transform: scale(0.9);
    
    cursor: pointer;

    a {
      color: aliceblue;
   
      transition: all 0.2s ease;
      
    }
    a:hover {
      color: aqua;
      transform: scale(1.2);
    }
  }
}
@media only screen and (max-width: 1060px) {
  .projects {
    .project {
      flex-direction: column;
      align-items: center;
      
     .description{
      
        font-size: calc(0.4rem + 1vw);
        width:100%;
      }
    }
    .first-side {
      

      display: flex;
      justify-content: start;
      margin-left: 20px;
    }
    .carousel {
     background: #b3b3b3;
     width: 90vw;
      
     height: calc(90vw / 2);
     max-height: calc((600px + 20vw) / 2);
     max-width: calc(600px + 20vw);
    
    }
    .hr-bar{
      display: flex;
    }
    .project .img {
      overflow: hidden;
      width: 90vw;
       object-fit: cover;
      height: calc(90vw / 2);
      max-height: calc((600px + 20vw) / 2);
      max-width: calc(600px + 20vw);
    }
    .tools {
      
      p {
        font-size: 7px;
      }
    }
    
  }
 
}
